<style>
  body {
    text-align:center;
    font-family:arial;
    background-color:lightcyan
  }

  h1 {
    padding: 30;
    margin: 30
  }
</style>

<h1><%= @name %>, your birthday is <%= @day %> <%= @month.capitalize %></h1>
