<head>
  <link rel = "stylesheet"
     type = "text/css"
     href = "stylesheet.css" />
     <title>Birthday countdown</title>
</head>

<body>
<% if @countdown.ceil == 365 %>
Happy birthday <%= @name %>!
<% else %>
Your birthday is in <%= @countdown.ceil %> days, <%= @name %>!
<% end %>
</body>
